language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 2.1
- 2.2
- 2.3.0
- 2.4.1
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-process-checks.gemspec
- gem install sensu-plugins-process-checks-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: K4zuPdQMW/jyCOO3+daQMp4dAlzdEi14qPx9Y09Zas5jFqCfbdIbK9fH3dzyuxoOOVrCjC9zW5EnNb8QveGcmRbtNx1ss4f626CLln2b+OE8jdmcQVHjVP1TmVI4Z2AvZnqSdKqPKQIiDPBHvO1BeIS4wgo2rXajuc7yUKOZuuA=
  gem: sensu-plugins-process-checks
  on:
    tags: true
    all_branches: true
    rvm: 2.1
    rvm: 2.2
    rvm: 2.3.0
    rvm: 2.4.1
    repo: sensu-plugins/sensu-plugins-process-checks
